In [1]:
import numpy as np
import pandas as pd

In [2]:
df=pd.read_csv('customer.csv')

In [3]:
df.sample(5)

    age  gender review education purchased
31   22  Female   Poor    School       Yes
16   59    Male   Poor        UG       Yes
38   45  Female   Good    School        No
36   34  Female   Good        UG       Yes
43   27    Male   Poor        PG        No

In [4]:
df=df.iloc[:,2:]

In [5]:
df.head()

    review education purchased
0  Average    School        No
1     Poor        UG        No
2     Good        PG        No
3     Good        PG        No
4  Average        UG        No

In [6]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test= train_test_split(df.iloc[:,0:2],df.iloc[:,-1],test_size=0.2)

In [7]:
from sklearn.preprocessing import OrdinalEncoder

In [8]:
oe =OrdinalEncoder(categories=[['Poor','Average','Good'],['School','UG','PG']])

In [9]:
oe.fit(X_train)

OrdinalEncoder(categories=[['Poor', 'Average', 'Good'], ['School', 'UG', 'PG']])

In [10]:
X_train = oe.transform(X_train)
X_train

array([[0., 2.],
       [1., 0.],
       [0., 2.],
       [2., 1.],
       [1., 1.],
       [0., 2.],
       [1., 1.],
       [2., 1.],
       [1., 1.],
       [1., 2.],
       [0., 2.],
       [1., 0.],
       [2., 2.],
       [2., 0.],
       [2., 2.],
       [1., 2.],
       [0., 0.],
       [1., 0.],
       [2., 2.],
       [0., 1.],
       [1., 0.],
       [1., 1.],
       [0., 1.],
       [0., 1.],
       [2., 2.],
       [2., 1.],
       [2., 0.],
       [2., 1.],
       [1., 0.],
       [0., 2.],
       [2., 0.],
       [2., 1.],
       [0., 0.],
       [2., 0.],
       [2., 2.],
       [1., 1.],
       [0., 1.],
       [0., 2.],
       [0., 2.],
       [1., 2.]])

In [11]:
oe.categories_

[array(['Poor', 'Average', 'Good'], dtype=object),
 array(['School', 'UG', 'PG'], dtype=object)]

In [12]:
from sklearn.preprocessing import LabelEncoder

In [13]:
le= LabelEncoder()

In [14]:
le.fit(y_train)

LabelEncoder()

In [15]:
le.classes_

array(['No', 'Yes'], dtype=object)

In [16]:
y_train =le.transform(y_train)
y_test =le.transform(y_test)

In [17]:
y_train

array([1, 0, 1, 1, 0, 1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 1, 1, 1, 0, 1, 0,
       0, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0])