In [1]:
import numpy as np
import pandas as pd

In [2]:
df=pd.read_csv('customer.csv')

In [3]:
df.sample(5)

    age  gender   review education purchased
3    72  Female     Good        PG        No
20   57  Female  Average    School       Yes
28   48    Male     Poor    School        No
18   19    Male     Good    School        No
40   39    Male     Good    School        No

In [4]:
df=df.iloc[:,2:]

In [5]:
df.head()

    review education purchased
0  Average    School        No
1     Poor        UG        No
2     Good        PG        No
3     Good        PG        No
4  Average        UG        No

In [6]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test= train_test_split(df.iloc[:,0:2],df.iloc[:,-1],test_size=0.2)

In [7]:
from sklearn.preprocessing import OrdinalEncoder

In [8]:
oe =OrdinalEncoder(categories=[['Poor','Average','Good'],['School','UG','PG']])

In [9]:
oe.fit(X_train)

OrdinalEncoder(categories=[['Poor', 'Average', 'Good'], ['School', 'UG', 'PG']])

In [10]:
X_train = oe.transform(X_train)
X_train

array([[1., 1.],
       [2., 2.],
       [2., 2.],
       [0., 2.],
       [2., 0.],
       [2., 2.],
       [1., 1.],
       [2., 0.],
       [1., 2.],
       [0., 0.],
       [2., 1.],
       [2., 1.],
       [0., 1.],
       [2., 2.],
       [1., 1.],
       [2., 0.],
       [2., 2.],
       [0., 1.],
       [0., 2.],
       [0., 1.],
       [2., 2.],
       [1., 2.],
       [2., 0.],
       [2., 0.],
       [0., 2.],
       [2., 0.],
       [0., 0.],
       [0., 1.],
       [1., 0.],
       [2., 1.],
       [0., 2.],
       [0., 0.],
       [0., 0.],
       [2., 1.],
       [0., 2.],
       [1., 1.],
       [1., 1.],
       [0., 2.],
       [0., 2.],
       [1., 0.]])

In [12]:
oe.categories_

[array(['Poor', 'Average', 'Good'], dtype=object),
 array(['School', 'UG', 'PG'], dtype=object)]

In [13]:
from sklearn.preprocessing import LabelEncoder

In [14]:
le= LabelEncoder()

In [15]:
le.fit(y_train)

LabelEncoder()

In [16]:
le.classes_

array(['No', 'Yes'], dtype=object)

In [18]:
y_train =le.transform(y_train)
y_test =le.transform(y_test)

TypeError: ufunc 'isnan' not supported for the input types, and the inputs could not be safely coerced to any supported types according to the casting rule ''safe''