In [1]:
import numpy as np
import pandas as pd

from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LogisticRegression

In [2]:
import seaborn as sns

In [3]:
df=pd.read_csv('train.csv')[['Age','Pclass','SibSp','Parch','Survived']]

In [4]:
df.head()

    Age  Pclass  SibSp  Parch  Survived
0  22.0       3      1      0         0
1  38.0       1      1      0         1
2  26.0       3      0      0         1
3  35.0       1      1      0         1
4  35.0       3      0      0         0

In [5]:
df.dropna(inplace =True)

In [6]:
df.head()

    Age  Pclass  SibSp  Parch  Survived
0  22.0       3      1      0         0
1  38.0       1      1      0         1
2  26.0       3      0      0         1
3  35.0       1      1      0         1
4  35.0       3      0      0         0

In [7]:
x=df.iloc[:,0:4]
y=df.iloc[:,-1]

In [8]:
np.mean(cross_val_score(LogisticRegression(),x,y,scoring='accuracy',cv=20))

0.6933333333333332

# Applying Feature Construction

In [9]:
x['Family_size']=x['SibSp']+x['Parch']+1

In [10]:
def myfunc(num):
    if num==1:
        #alone
        return 0
    elif num>1 and num <=4:
        #small family 
        return 1
    else:
        return 2

In [11]:
x['Family_type']=x['Family_size'].apply(myfunc)

In [12]:
x.drop(columns=['SibSp','Parch','Family_size'],inplace=True)

In [13]:
np.mean(cross_val_score(LogisticRegression(),x,y,scoring='accuracy',cv=20))

0.7003174603174602

# Feature Splitting

In [14]:
df=pd.read_csv('train.csv')

In [15]:
df['Name'].str.split(',',expand=True)[1].str.split('.',expand=True)[0]

0         Mr
1        Mrs
2       Miss
3        Mrs
4         Mr
       ...
886      Rev
887     Miss
888     Miss
889       Mr
890       Mr
Name: 0, Length: 891, dtype: object

In [17]:
df['Title'] = df['Name'].str.split(', ', expand=True)[1].str.split('.', expand=True)[0]

In [18]:
df['Is_Married']=0
df['Is_Married'].loc[df['Title']=='Mrs']=1

C:\Users\utkal\AppData\Local\Temp\ipykernel_16472\3104783197.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Is_Married'].loc[df['Title']=='Mrs']=1