In [1]:
import pandas as pd

In [3]:
 df =pd.read_csv('2011_rankings.csv')

In [4]:
df

,rank_order,rank,name,scores_overall,scores_overall_rank,scores_teaching,scores_teaching_rank,scores_international_outlook,scores_international_outlook_rank,scores_industry_income,scores_industry_income_rank,scores_research,scores_research_rank,scores_citations,scores_citations_rank,location,aliases,subjects_offered,closed,unaccredited
0,1,1,Harvard University,96.1,1,99.7,1,72.4,49,34.5,105,98.7,2,98.8,8,United States,Harvard University,"Mathematics & Statistics,Civil Engineering,Lan...",False,False
1,2,2,California Institute of Technology,96.0,2,97.7,4,54.6,93,83.7,24,98.0,4,99.9,1,United States,California Institute of Technology caltech,"Languages, Literature & Linguistics,Economics ...",False,False
2,3,3,Massachusetts Institute of Technology,95.6,3,97.8,3,82.3,36,87.5,21,91.4,11,99.9,2,United States,Massachusetts Institute of Technology,"Mathematics & Statistics,Languages, Literature...",False,False
3,4,4,Stanford University,94.3,4,98.3,2,29.5,156,64.3,33,98.1,3,99.2,6,United States,Stanford University,"Physics & Astronomy,Computer Science,Politics ...",False,False
4,5,5,Princeton University,94.2,5,90.9,6,70.3,53,-,164,95.4,5,99.9,3,United States,Princeton University,"Languages, Literature & Linguistics,Biological...",False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,196,196,Kent State University,46.5,196,33.5,196,15.9,191,26.3,139,33.3,197,76.8,83,United States,Kent State University,"Physics & Astronomy,Geography,Mechanical & Aer...",False,False
196,197,197,University of Illinois Chicago,46.4,197,57.8,68,51.8,101,-,180,46.8,137,34.7,197,United States,University of Illinois Chicago,"Civil Engineering,Communication & Media Studie...",False,False
197,197,197,Zhejiang University,46.4,198,54.6,87,29.6,155,70.3,31,41.3,169,44.3,190,China,Zhejiang University ZJU Zhejiang University Ch...,"Architecture,Other Health,Biological Sciences,...",False,False
198,199,199,Simon Fraser University,46.2,199,32.9,198,51.9,100,37.9,94,44.2,149,60.2,144,Canada,Simon Fraser University,"Geology, Environmental, Earth & Marine Science...",False,False
199,199,199,Swedish University of Agricultural Sciences,46.2,200,43.3,156,-,196,99.9,8,49.5,111,41.7,193,Sweden,Swedish University of Agricultural Sciences,"Civil Engineering,Communication & Media Studie...",False,False